.myprofile1-wrapper{
    background-color: #dddddd;
    display: flex;
    height: auto;
}

.myprofile1-name{
    margin-top: 15vh;
    margin-left: 5vh;
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.myprofile1-contents{
    background-color: #D3D3D3;
    height: 70vh;
    width: 70%;
    margin-top: 10vh;
    margin-left: 15vh;
    border-radius: 10px;
}

.student-myprofile1-pic{
    height: 35vh;
    width: 25%;
    margin-top: 5vh;
    margin-left: 7vh;
    border-radius: 5px;
}

.myprofile1-student-name{
    margin-top: -30vh;
    width: 60%;
    margin-left: 40vh;
    text-align: left;
    height: auto;
}

.myprofile1-student-name h1{
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.myprofile1-user-details{
    height: 200px;
    width: 65%;
    margin-left: 20vw;
    height: 45vh;
    margin-top: 3vh;
    padding: 10px;
}

.myprofile1-edit-btn{
    width: 10%;
    margin-left: 7vw;
    margin-top: -40vh;
    height: 6vh;
    border-radius: 5px;
}

.myprofile1-edit-btn button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #000336;
    color: white;
    text-transform: uppercase;
}

.myprofile1-user-details p{
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}

.student-myprofile1-pic img{
    width: 80%;
    border-radius: 10px;
    margin-top: 5vh;

}
