.dashboard-wrapper{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    flex-direction: column;
}

.dashboard-header{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
}

.dashboard-name{
    text-align: left;
}

.dashboard-name h1{
    text-transform: uppercase;
    margin-left: 20vw;
}

.dashboard-totals{
    margin-top: 3vh;
}

.home-graphs{
    margin-top: -40vw;
    height: 140vh;
    width: 64%;
    margin-left: -5vh;
    padding: 5px;
}

