.dashboard-side{
    width: 17%;
    height: 90vh;
    margin-left: 81vw;
    margin-top: 3vh;
    padding: 5px;
}

.dashboard-members{
    margin-top: 5vh;
    height: auto;
    background-color: red;
    width: 100%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    -webkit-box-shadow: 2px 12px 7px rgb(0 0 0 / 50%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:   12px 12px 7px rgb(0 0 0 / 50%); /* Firefox 3.5 - 3.6 */
    box-shadow:       7px 7px 7px rgb(0 0 0 / 50%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.members-header{
    background-color: #000336;
    height: 6vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.members-header span{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.members-items{
    margin-top: -1vh;
    background-color: white;
    display: inline;
    padding: 10px;
    border-radius: 1px;
}

#members-guidance li{
    list-style: none;
    display: inline-block;
    text-align: center;
}

#member-img img{
    height: 50px;
    border-radius: 50px;
    display: inline-block;

}

span#member-name{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin-left: 5vh;
}

span#member-grole{
    display: inline-block;
    font-size: 12px;
    text-align: center;
    
}

#admin-spacer{
    height: 4vh;
}


.gender-preference img{
    height: 30vh;
    width:100%;
    border-radius: 10px;
}