.viewsii-wrapper{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dddddd;
    flex-direction: column;
}

.viewsii-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    margin-top: 15vh;
}

.viewsubmitted-back-btn{
    font-size: 70px;
    width: auto;
    margin-left: 55vh;
}

.viewsubmittedsii-name h1{
    text-transform: uppercase;
    margin-top: 20px;
}

.viewsubmitsii-content{
    height: auto;
    background-color: whitesmoke;
    width: 80%;
    margin-left: 30vh;
    margin-top: -5vh;
}

.viewsubmitsii-content-header{
    background-color: #000336;
    height: 10vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewsubmitsii-content-header h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

span#download-icon{
    cursor: pointer;
    color: white;
    margin-left: 45vw;
}

.viewsubmitsii-body{
    height: auto;
    background-color: white;
    padding: 10px;
}
.viewsubmitsii-body h1{
    margin-top: 3vh;
}

.viewsubmitsii-body p{
    font-size: 25px;
    text-align: left;
    margin-left: 52vh;
    font-weight: 500;
}