.react-calendar{
    width: auto;
    border-radius: 10px;
}

.react-calendar__navigation {
    border-radius: 5px;
    font-size: 10px;
}

span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
    font-size: 15px;
}

.react-calendar__month-view__weekdays{
    background-color: white;
    color: #000336;
    font-size: 12px;
}

button.react-calendar__navigation__label,
button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
button.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    background-color: #000336;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.react-calendar__month-view__days button{
    background-color: white;
    border: none;
    cursor: pointer;
    color: #000336;
}
.react-calendar__month-view__days{
    height: 20vh;
}

.react-calendar__month-view__days button:hover{
    background-color: #D4AF37;
}